body,
html {
  margin: 0;
  padding: 0;
}
#canvas_container {
  width: 100%;
  height: 650px;
  overflow: auto;
  background: #211f1f;
  text-align: center;
  border: 1px solid;
}
#canvas_container::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#controls {
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 0 0 30px 0;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  #controls {
    flex-direction: column;
  }
  #navigation-controls,
  #zoom-control,
  #screen-control {
    width: 100%;
    margin-bottom: 10px;
  }
}

#prev,
#next,
#full_screen,
#rotation,
#total_page,
#current_page {
  color: #313636;
  font-weight: bold;
  font-size: 12px;
}

.pdf-btn {
  padding: 6px 16px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 12px;
}
#prev {
  background-color: #0000;
  border: 1px solid #8c9696;
}
#next {
  background-color: #060606;
  border-color: #f55528;
  color: #fff;
  border: 0;
  padding: 8px 30px;
  margin: 0 0 0 10px;
}
#current_page {
  border: 1px solid #e4eaea;
  scroll: unset;
  border-radius: 8px;
  overflow: hidden;
  padding: 0px 0px 0px 7px;
  width: 40px;
  height: 30px;
  margin-left: 10px;
}
#zoom_out,
#zoom_in {
  background: #0000;
  border: 1px solid #e4eaea;
  width: 30px;
  color: #8c9696;
  border-radius: 5px;
}
#full_screen,
#rotation {
  border: 0;
  background: transparent;
}
#full_screen .material-icons {
  font-size: 18px;
  position: relative;
  top: 4px;
  right: 7px;
}
#rotation .material-icons {
  font-size: 18px;
  position: relative;
  top: 4px;
  right: 7px;
}
#spin {
  display: none;
}
input#current_page:hover::-webkit-scrollbar {
  scrollbar-width: 0;
}
/* Chrome, Safari, Edge, Opera */
input#current_page::-webkit-outer-spin-button,
input#current_page::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input#current_page[type="number"] {
  -moz-appearance: textfield;
}
