<!-- Add you custom twig html here -->
<div id="pdf_viewer">
	<div id="controls">
		<div id="navigation-controls">
			<button id="prev" class="pdf-btn">
				<i class="fas fa-angle-left"></i>
				Previous</button>
			<input type="number" value="1" id="current_page" min="1" max=""/>
			/
			<span id="total_page"></span>
			<button id="next" class="pdf-btn">Next
				<i class="fas fa-angle-right"></i>
			</button>
		</div>
		<div id="zoom-control">
			<button id="zoom_out">-</button>
			<button id="zoom_in">+</button>
		</div>
		<div id="screen-control">
			<button id="full_screen">
				<span class="material-icons">
					<img src="../{{ base_path }}/img/full_screen-16x16.png">
				</span>Full Screen</button>
		</div>
	</div>
	<div id="canvas_container">
		<canvas id="pdf_render"></canvas>
	</div>
</div>
